<!DOCTYPE html>
<html lang="en">

  <body>
    <main class="flex-grow">

      <h1 style="text-align: center">(EMS)Employee Management System </h1>

      <br />

      <p style="text-align: center">Manage, enter, and view all employee information from this page.</p>

      <div>
        <div>
          <div>
            <div>

              <span>View a specific employee</span>

              <span>
                  <p> Employee's data.
                  </span>
              
                  <span>
                <a href="/view">
                  <button> Manage </button></a>
              </span>

            </div>
            <div>
              <span>New Employee</span>

              <span><p> Add a new employee</p></span>
              
              <span>
            <a href="/new">
                  <button> Enter</button></a>
              </span>


            </div>
            <div>
              <span>List of all employees</span>
              <span><p>
                  View a list of all current employees.
                </p></span>


              <span>
                <a href="/list">
                  <button>View</button>
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
  <%- include('footer') %><%- include('scripts') %>
</html